html {
  /*-webkit-font-smoothing: antialiased;*/
  font-weight: 500;
}

body {
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial;
}

#camera {
	position: absolute;
  height: 414px;
  width: 234px;
  background-image: url("../img/camera.jpg");
  background-size: contain;
  z-index: 0;
}

.lockscreen {
	position: absolute;
	height: 414px;
  width: 234px;
  background-image: url("../img/blurred-background.png");
  background-size: contain;
  z-index: 1;
}

#notifications {
	position: absolute;
  height: 414px;
  width: 234px;
  height: 414px;
  width: 234px;
  background-image: url("../img/notifications.jpg");
  background-size: contain;
  z-index: 2;
}

#frame {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 600px;
  width: 307.15px;
}

#screen {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 414px;
  width: 233px;
  background-size: contain;
  overflow: hidden;
}

#progress-bar {
	width: 150px;
	height:2px;
	background-color: #BCD4D2;
	opacity: 0.7;
	margin: 0 auto;
}

#track-info {
	padding-top: 10px;
	text-align: center;

}
.track-name {
	color: white;
	font-size: 13pt;
}

.volume-icon {
	position: relative;
	top: 5px;
	display: inline-block;
	padding: 0 5px;
}

#v-slider {
	display: inline-block;
	width: 150px;
}

#volume-slider {
	width: 195px;
	margin: 0 auto;
}
.track-artist {
	color: black;
	font-size: 8pt;
}

#music-controls {
	padding-top: 10px;
	padding-left: 58px;
	padding-bottom: 8px;
}

#control-icon {
	margin: 0 8px;
}

#camera-icon {
	position: relative;
	right: 3px;
	float: right;
}

#home {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 414px;
  width: 233px;
  background-image: url("../img/homescreen.jpg");
  background-size: contain;
  opacity: 1;
}

#overlay {
	position: absolute;
	height: 414px;
	width: 233px;
	background-color: black;
	opacity: 0;
}

#wifi {
	position: relative;
	top: 2px;
	left: 1px;
}

#battery {
	position: relative;
	top: 4px;
}

.statusbar {
	background-color: transparent;
	height: 18px;
	padding: 0 5px;
}

.battery-text {
	padding-left: 125px;
	font-size: 8pt;
	line-height: 18px;
	color: white;
}

.connection-indicator {
	font-size: 8pt;
	line-height: 18px;
	color: white;
}

.content-container {
	padding-top: 20px;
	height: 100px;
}

.album-cover {
	position: absolute;
	z-index: 0;
}

#current-album-cover {
	z-index: 5;
}

.artwork {
	margin-top: 40px;
	height: 200px;
	width: 200px;
	position: relative;
	left:15px;
	bottom:25px;
	pointer-events: none;
}

#slider {
	margin-top: 235px;
	text-align: center;
}


.draggable-container {
	display: inline-block;
	width: 466px;
	cursor: pointer;
	position: absolute;
	left: -233px;
	/* -- */
	padding-bottom: 10px;
}

/* music screen (x-axis) */ 
#pos0 {
	transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  left: -233px;
}
/* lockscreen */
#pos1 {
	transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  left: 0px;
}
/* music screen (y-axis) */
#pos2 {
	transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  top: 0px;
}
/* camera */ 
#pos3 {
	transition-property: top;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  top: -414px;
}


.passwordscreen {
	width:233px;
	float: left;
}

._lockscreen {
	width: 233px;
	float: right;
}

#lock-indicator {
	color: white;
	text-align: center;
	padding-top: 35px;
	font-size: 10pt;
}

.lock-circle {
	margin: 3px 7px;
}

.bubbles {
	padding: 5px;
}

.numpad-controls {
	padding-top:25px;
}

.numpad {
	padding-top: 20px;
}

.emergency {
	margin-left: 10px;
	float: left;
}

.delete {
	float: right;
	margin-right: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
