html {
  /*-webkit-font-smoothing: antialiased;*/
  font-weight: 500;
}

body {
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial;
}


#frame {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 600px;
  width: 307.15px;
}

#screen {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 414px;
  width: 233px;
  /*background-color: black;*/
  background-image: url("../img/wallpaper5.png");
  background-size: contain;
  overflow: hidden;
  /* -- */
}

#progress-bar {
	width: 150px;
	height:3px;
	background-color: black;
	opacity: 0.5;
	margin: 0 auto;
}

#track-info {
	padding-top: 10px;
	text-align: center;

}
.track-name {
	color: white;
	font-size: 14pt;
}

.track-artist {
	color: black;
	font-size: 8pt;
}

#music-controls {
	padding-top: 10px;
	padding-left: 55px;
	padding-bottom: 40px;
}

#control-icon {
	margin: 0 5px;
}


#home {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 414px;
  width: 233px;
  /*background-color: black;*/
  background-image: url("../img/homescreen.jpg");
  background-size: contain;
  opacity: 0.4;
}

#overlay {
	position: absolute;
	height: 414px;
	width: 233px;
	background-color: black;
	opacity: 0;
}

#wifi {
	position: relative;
	top: 2px;
	left: 1px;
}

#battery {
	position: relative;
	top: 2px;
}

.statusbar {
	background-color: transparent;
	height: 18px;
	padding: 0 5px;
}

.battery-text {
	padding-left: 100px;
	font-size: 10pt;
	line-height: 18px;
	color: white;
}

.connection-indicator {
	font-size: 10pt;
	line-height: 18px;
	color: white;
}

#clock {
	position: relative;
	opacity: 1;
	height: 100%;
	color: #fafafa;
	text-align: center;
}

#time {
	font-size: 45pt;
	line-height: 60px;
}

#date {
	font-size: 10pt;
}

.content-container {
	padding-top: 20px;
	height: 100px;
}

.artwork-container {
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.artwork {
	border: 1px solid grey;
	height: 180px;
	width: 180px;
	margin: 0 auto;
	pointer-events: none;
}

#slider {
	margin-top: 230px;
	text-align: center;
}

.draggable {
	cursor: pointer;
	position: relative;
	right: 233px;
}

.draggable-container {
	display: inline-block;
	width: 466px;
	padding-right: 200px;
}

.passwordscreen {
	width:233px;
	float: left;
}

.lockscreen {
	width: 233px;
	float: right;
}

#lock-indicator {
	color: white;
	text-align: center;
	padding-top: 35px;
	font-size: 10pt;
}

.lock-circle {
	margin: 3px 7px;
}

.bubbles {
	padding: 5px;
}

.numpad-controls {
	padding-top:10px;
}

.numpad {
	padding-top: 20px;
}

.emergency {
	margin-left: 10px;
	float: left;
}

.delete {
	float: right;
	margin-right: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}